<!DOCTYPE HTML>
<html lang="{{ lang }}">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/stylesheet.css">
  <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/index.css">
  <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/blog.css">

  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="catalog/view/javascript/jquery/swiper/js/swiper.jquery.js"></script>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>
<a href="#" id="stock">
  <div id="okno">
  </div>
</a>
<button data-collapsed-window-toggle-id="header" class="header-toggle collapsed-window-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
<header data-collapsed-window-id="header" class="collapsed-window collapsed-window--collapsed">
  <div class="logo">
    <a href="{{ home }}" class="logo_img"><img src="{{ logo }}" alt=""  class="logo_img_img"/></a>
  </div>
  <h1 class="heading">{{ name }}</h1>
  <nav>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <i class="fa-icon fas fa-home-lg-alt nav-menu-item__icon"></i>
        <a class="nav-menu-item__link" href="{{ home }}">
          Главная
        </a>
      </li>
      <li class="nav-menu-item">
        <i class="fa-icon fas fa-utensils-alt nav-menu-item__icon"></i>
        <a class="nav-menu-item__link" href="">
          Меню
        </a>
        {{ menu }}
      </li>
      <li class="nav-menu-item">
        <i class="fa-icon fas fa-dollar-sign nav-menu-item__icon"></i>
        <a class="nav-menu-item__link" href="#stock">
          Акции
        </a>
      </li>
      <li class="nav-menu-item">
        <i class="fa-icon fas fa-phone-square-alt nav-menu-item__icon"></i>
        <a class="nav-menu-item__link" href="{{ home }}?route=extension/d_blog_module/category">
          Новости
        </a>
      </li>

      <li class="nav-menu-item">
        <i class="fa-icon fas fa-images nav-menu-item__icon"></i>
        <a class="nav-menu-item__link" href="#">
          Галерея
        </a>
      </li>
    </ul>
    <div class="header-footer">
      <div class="header-footer-item">
        <a class="header-footer-a" href="account.html"><i class="fas fa-user nav-menu-item__icon"></i></a>
      </div>
      <div class="header-footer-item">
        <a class="header-footer-a" href="{{ shopping_cart }}"><i class="fas fa-shopping-cart nav-menu-item__icon"></i></a>
      </div>
      <div class="header-footer-item">
        <a class="header-footer-a" href="delivery.html"><i class="fas fa-truck nav-menu-item__icon"></i></a>
      </div>
    </div>
  </nav>
</header>
<div class="header-small">
  <div class="logo2">
    <a href="index.html" class="logo_img"><img src="catalog/view/theme/default/image/logo.png" alt="" class="logo_img_img2"/></a>
  </div>
  <h1 class="heading2">Konohagakure</h1>
</div>
<div class="product-pop-up">
  <div class="product-pop-up-menu"></div>
  <button class="product-pop-up__close remove"></button>
</div>