{% if categories %}
  <ul class="submenu">
    {% for category in categories %}
      <li class="submenu-item">
        <a class="submenu-item__link">{{ category.name }}</a>
        <ul class="submenu-sublist">
          {% for child in category.children %}
            <li class="submenu-sublist-item">
              <span class="submenu-sublist-item__link">{{ child.name }}</span>
              <ul class="product-menu">
                {% for product in child.products %}
                <li class="product-menu-item">
                  <img class="product-menu-item__img" src="{{ product.thumb }}" alt="{{ product.name }}">
                  <div class="product-menu-item__body">
                    <h3 class="product-menu-item__heading">{{ product.name }}</h3>
                    <span class="product-menu-item__price">{{ product.price }}</span>
                    <a class="product-menu-item__link"  href="{{ product.href }}">Заказать</a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}