{% if categories %}
  <ul class="submenu">
    {% for category in categories if category.name != "Blog" %}
      <li class="submenu-item">
        <a class="submenu-item__link">{{ category.name }}</a>
        {% if category.children is empty %}
          <ul class="product-menu">
            {% for product in category.products %}
              <li class="product-menu-item">
                      <figure class="product-menu-item__img-wrapper">
                        <img class="product-menu-item__img" src="{{ product.thumb }}" alt="{{ product.name }}">
                      </figure>
                      <div class="product-menu-item__shadowbox"></div>
                      <div class="product-menu-item__body">
                        <div class="product-menu-item__description">
                            <div class="product-menu-item__description-bg"></div>
                          {{ product.description }}
                        </div>
                        <h3 class="product-menu-item__heading">{{ product.name }}</h3>
                        <div class="product-menu-item__order" id="product">
                          <span class="product-menu-item__price">{{ product.price }}</span>
                          {% if product.options %}
                            {% for option in product.options %}
                              {% if option.type == 'text' %}
                                <input
                                       name="option[{{ option.product_option_id }}]"
                                       value="{{ option.value }}"
                                       placeholder=""
                                       id="input-option{{ option.product_option_id }}"
                                       style="border: 3px solid white; border-radius: 20px" type="hidden" />
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                          <input type="text"
                                 name="quantity"
                                 value="{{ option.value }}"
                                 placeholder=""
                                 onchange="$(this).attr('value', $(this).val())"
                                 id="input-option{{ option.product_option_id }}" class="product-menu-item__count"
                                 style="border: 3px solid white; border-radius: 20px" />
                          <input type="hidden" name="product_id" value="{{ product.id }}" />
                          <button class="product-menu-item__count-submit"
                                    onclick="addToCart(this)"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-check"></i></button>
                          <button class="product-menu-item__link product__btn-order" id="button-cart"
                                  onclick="addToCartWithSelectedQuantity(this)" data-loading-text="{{ text_loading }}">
                            Заказать
                          </button>
                        </div>
                      </div>
                    </li>
            {% endfor %}
          </ul>
        {% else %}
          <ul class="submenu-sublist">
            {% for child in category.children %}
              <li class="submenu-sublist-item">
                <span class="submenu-sublist-item__link">{{ child.name }}</span>
                <ul class="product-menu">
                  {% for product in child.products %}
                    <li class="product-menu-item">
                      <figure class="product-menu-item__img-wrapper">
                        <img class="product-menu-item__img" src="{{ product.thumb }}" alt="{{ product.name }}">
                      </figure>
                      <div class="product-menu-item__shadowbox"></div>
                      <div class="product-menu-item__body">
                        <div class="product-menu-item__description">
                            <div class="product-menu-item__description-bg"></div>
                          {{ product.description }}
                        </div>
                        <h3 class="product-menu-item__heading">{{ product.name }}</h3>
                        <div class="product-menu-item__order" id="product">
                          <span class="product-menu-item__price">{{ product.price }}</span>
                          {% if product.options %}
                            {% for option in product.options %}
                              {% if option.type == 'text' %}
                                <input
                                       name="option[{{ option.product_option_id }}]"
                                       value="{{ option.value }}"
                                       placeholder=""
                                       id="input-option{{ option.product_option_id }}"
                                       style="border: 3px solid white; border-radius: 20px" type="hidden" />
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                          <input type="text"
                                 name="quantity"
                                 value="{{ option.value }}"
                                 placeholder=""
                                 onchange="$(this).attr('value', $(this).val())"
                                 id="input-option{{ option.product_option_id }}" class="product-menu-item__count"
                                 style="border: 3px solid white; border-radius: 20px" />
                          <input type="hidden" name="product_id" value="{{ product.id }}" />
                          <button class="product-menu-item__count-submit"
                                    onclick="addToCart(this)"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-check"></i></button>
                          <button class="product-menu-item__link product__btn-order" id="button-cart"
                                  onclick="addToCartWithSelectedQuantity(this)" data-loading-text="{{ text_loading }}">
                            Заказать
                          </button>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}