{{ header }}
<main>
  <div class="checkout-success">
    <h1 class="checkout-success__heading">{{ heading_title }}</h1>
    {{ text_message }}
    <button class="checkout-success__button">
      <a href="{{ continue }}">{{ button_continue }}</a>
    </button>
  </div>
</main>
{{ footer }}