{{ header }}
<main>
  <div id="common-success" class="container">
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="heading">{{ heading_title }}</h1>
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right">
          <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
        </div>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</main>
{{ footer }}