<div class="swiper-viewport">
  <div id="banner{{ module }}" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for banner in banners %}
          <li class="splide__slide">
            {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
              </a>
            {% else %}
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
  </div>
</div>
  <script><!--
    const splideOptions = {
      type: 'loop',
      rewind: true,
      autoplay: true,
      pauseOnHover: false,
    }

    new Splide('.splide', splideOptions).mount();
    --></script>