<div class="swiper-viewport">
  <div id="carousel{{ module }}" class="splide">
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        <img src="catalog/view/theme/default/image/arrow-left.svg" alt="">
      </button>
      <button class="splide__arrow splide__arrow--next">
        <img src="catalog/view/theme/default/image/arrow-right.svg" alt="">
      </button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        {% for banner in banners %}
          <li class="splide__slide text-center">
            {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
              </a>
            {% else %}
              <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
  </div>
</div>