<form method="post" enctype="multipart/form-data" class="checkout-products">
    {% if products %}
        {% for product in products %}
            <div class="checkout-product">
                <div class="checkout-product__cell">
                    <img src="{{ product.thumb }}" alt="" class="checkout-product__img">
                </div>
                <div class="checkout-product__cell">
                    <h1 class="checkout-product__heading">{{ product.name }}</h1>
                    <div class="checkout-product__price checkout-product__price-sm-visible">
                        {{ product.price }}
                    </div>
                    <div class="checkout-product__count">
                        <i class="icon minus checkout-product__remove"
                           onclick="custom_cart.update({{ product.cart_id }}, {{ product.quantity - 1 }})"
                           {% if product.quantity == 1 %} disabled {% endif %}
                           style="cursor:pointer;">
                        </i>
                        <input type="text" class="checkout-product__counter" value="{{ product.quantity }}">
                        <i class="icon plus checkout-product__add"
                           onclick="custom_cart.update({{ product.cart_id }}, {{ product.quantity + 1 }})"
                           {% if product.quantity == 1 %} disabled {% endif %}
                           style="cursor:pointer;">
                        </i>
                    </div>
                </div>
                <div class="checkout-product__cell checkout-product__cell--sm-hidden">
                    <div class="checkout-product__price">
                        {{ product.price }}
                    </div>
                </div>
                <div class="checkout-product__cell">
                    <button class="checkout-product__delete icon remove">
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</form>