<div class="checkout-personal-info">
    <h1 class="checkout-heading">{{ heading_customer }}</h1>
    <div class="form-group" style="display: {% if customer_groups|length < 2 %} none {% endif %}">
        <label class="control-label">{{ entry_customer_group }}</label>
        {% for customer_group in customer_groups %}
            {% if (customer_group.customer_group_id == customer_group_id) %}
                <div class="radio">
                    <label>
                        <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" checked="checked" />
                        {{ customer_group.name }}</label>
                </div>
            {% else %}
                <div class="radio">
                    <label>
                        <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                        {{ customer_group.name }}</label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="checkout-fields">
        {% for field in setting['fields'] %}
            {% if (field.name) == 'firstname' %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_firstname }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ firstname }}"
                       placeholder="{{ entry_firstname }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}
            {% if (field.name == 'lastname') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_lastname }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ lastname }}"
                       placeholder="{{ entry_lastname }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}

            {% if (field.name == 'email') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_email }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ email }}"
                       placeholder="{{ entry_email }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}

            {% if (field.name == 'telephone') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_telephone }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ telephone }}"
                       placeholder="{{ entry_telephone }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}

            {% if (field.name == 'fax') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_fax }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ fax }}"
                       placeholder="{{ entry_fax }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}

            {% if (field.name == 'password') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_password }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ password }}"
                       placeholder="{{ entry_password }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}

            {% if (field.name == 'confirm') %}
                <div class="checkout-field" id="customer-field-{{ field.name }}">
                <label for="customer-input-{{ field.name }}" class="checkout-label">{{ entry_confirm }}</label>
                <input type="text"
                       class="checkout-input"
                       name="customer_{{ field.name }}"
                       id="customer-input-{{ field.name }}"
                       value="{{ confirm }}"
                       placeholder="{{ entry_confirm }}"
                       data-validation="{{ field['validation'] }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<script><!--
    $('#custom-customer [name^=customer]').on('input', function() {
        $(this).parent().find('.text-danger').remove();
        $(this).parent().removeClass('has-error');
    });
    //--></script>

<script><!--
    $('#custom-customer input[name=\'customer_group_id\']').on('change', function() {

        // Customer
        custom_block.customer(this.value);

        // Payment Methods
        custom_block.payment(this.value);

    });

    $('#custom-customer input[name=\'customer_group_id\']:checked').trigger('change');
    //--></script>

<script><!--
    $('#custom-customer button[id^=\'button-custom-field\']').on('click', function() {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
                    },
                    complete: function() {
                        $(node).button('reset');
                    },
                    success: function(json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input[name^=\'custom_field\']').val(json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>