{{ header }}
<main>
  <div id="account-account" class="container">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">
      <div id="content" class="{{ class }}">{{ content_top }}
        <div class="row mb-5 mt-3">
          <h2 class="heading" style="text-align: left">{{ text_my_account }}</h2>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <div class="account-contact-info">
              <div class="account-contact-info__cell">
                <h3 class="account-contact-info__field-name">Имя фамилия:</h3>
                <h3 class="account-contact-info__field-value">{{ account.name }}</h3>
              </div>
              <div class="account-contact-info__cell">
                <h3 class="account-contact-info__field-name">Email:</h3>
                <h3 class="account-contact-info__field-value">{{ account.email }}</h3>
              </div>
              <div class="account-contact-info__cell">
                <h3 class="account-contact-info__field-name">Телефон:</h3>
                <h3 class="account-contact-info__field-value">{{ account.phone }}</h3>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="button"><a href="{{ edit }}">{{ text_edit }}</a></button>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-12">
            <button class="button"><a href="{{ password }}">{{ text_password }}</a></button>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-12">
            <button class="button"><a href="{{ newsletter }}">{{ text_newsletter }}</a></button>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-12">
            <button class="button">
              <a href="{{ logout }}">{{ text_logout }}</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ footer }}