{{ header }}
<main>
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="auth">
    <div class="col-md-6 auth-left">
      <h3 class="auth__heading">{{ text_new_customer }}</h3>
      <p>{{ text_register_account }}</p>
      <a class="auth__create-account" href="{{ register }}">{{ text_register }}</a>
    </div>
    <div class="col-md-6 auth-right">
      <h3 class="auth__registered">Уже зарегистрированы?</h3>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="auth__form">
        <div class="form-group">
          <label for="input-email">{{ entry_email }}</label>
          <input class="auth__form-input form-control"
                 id="input-email"
                 type="email"
                 name="email"
                 value="{{ email }}"
                 placeholder="{{ entry_email }}">
        </div>
        <div class="form-group">
          <label for="input-password">Пароль</label>
          <input class="auth__form-input form-control"
                 id="input-password"
                 name="password"
                 value="{{ password }}"
                 placeholder="{{ entry_password }}"
                 type="password">
        </div>
        <a class="forgot" href="{{ forgotten }}">{{ text_forgotten }}</a>
        <input class="auth__form-submit" type="submit" value="{{ button_login }}">
      </form>
    </div>
  </div>
</main>
{{ footer }}