{{ header }}
<main>
    <div class="auth">
        <div class="col-md-12 register">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="auth__form register-form">
                <h3 class="auth__heading">{{ heading_title }}</h3>
				<input type="radio"
					   name="customer_group_id"
					   hidden="hidden"
					   value="{{ customer_group.customer_group_id }}"
					   checked="checked"/>
                <div class="register-grid">
                    <div class="form-group required">
                        <label for="input-firstname">{{ entry_firstname }}</label>
                        <input id="input-firstname"
							   class="form-control"
							   type="text"
							   name="firstname"
							   value="{{ firstname }}"
							   placeholder="{{ entry_firstname }}">
						{% if error_firstname %}
							<div class="text-danger">{{ error_firstname }}</div>
						{% endif %}
                    </div>
                    <div class="form-group required">
                        <label for="input-lastname">{{ entry_lastname }}</label>
                        <input id="input-lastname"
							   class="form-control"
							   type="text"
							   name="lastname"
							   value="{{ lastname }}"
							   placeholder="{{ entry_lastname }}">
						{% if error_lastname %}
							<div class="text-danger">{{ error_lastname }}</div>
						{% endif %}
                    </div>
                    <div class="form-group required">
						<label for="input-email">{{ entry_email }}</label>
						<input id="input-email"
							   class="form-control"
							   type="email"
							   name="email"
							   value="{{ email }}"
							   placeholder="{{ entry_email }}">
						{% if error_email %}
							<div class="text-danger">{{ error_email }}</div>
						{% endif %}
					</div>
                    <div class="form-group required">
						<label for="input-telephone">{{ entry_telephone }}</label>
						<input id="input-telephone"
							   class="form-control"
							   type="text"
							   name="telephone"
							   value="{{ telephone }}"
							   placeholder="{{ entry_telephone }}">
						{% if error_telephone %}
							<div class="text-danger">{{ error_telephone }}</div>
						{% endif %}
					</div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group register-newsletter">
					{% if agree %}
						<input id="newsletter"
							   class="form-control"
							   type="checkbox"
							   name="newsletter"
							   value="1"
							   checked="checked">
					{% else %}
						<input id="newsletter"
							   class="form-control"
							   type="checkbox"
							   name="newsletter"
							   value="0"
							   checked="checked">
					{% endif %}
                    <label for="newsletter" class="checkbox">
                        <a class="news-letter" href="#">
                            {{ text_newsletter }}
                        </a>
                    </label>
                </div>
                <h3 class="auth__heading">{{ text_your_password }}</h3>
                <div class="register-grid">
                    <div class="form-group required">
                        <label for="input-password">{{ entry_password }}</label>
						<input type="password"
							   name="password"
							   value="{{ password }}"
							   placeholder="{{ entry_password }}"
							   id="input-password"
							   class="form-control" />
						{% if error_password %}
							<div class="text-danger">{{ error_password }}</div>
						{% endif %}
                    </div>
                    <div class="form-group required">
                        <label for="input-confirm">{{ entry_confirm }}</label>
						<input type="password"
							   name="confirm"
							   value="{{ confirm }}"
							   placeholder="{{ entry_confirm }}"
							   id="input-confirm"
							   class="form-control" />
						{% if error_confirm %}
							<div class="text-danger">{{ error_confirm }}</div>
						{% endif %}
                    </div>
                    <div class="form-group">
						{% if text_agree %}
							<div class="buttons">
								<div class="pull-right">{{ text_agree }}
									{% if agree %}
										<input class="form-control" type="checkbox" name="agree" value="1" checked="checked" />
									{% else %}
										<input class="form-control" type="checkbox" name="agree" value="1" />
									{% endif %}
									&nbsp;
									<input type="submit" value="{{ button_continue }}" class="auth__form-submit" />
								</div>
							</div>
						{% else %}
							<div class="buttons">
								<div class="pull-right">
									<input type="submit" value="{{ button_continue }}" class="auth__form-submit" />
								</div>
							</div>
						{% endif %}
                    </div>
				</div>
            </form>
        </div>
    </div>
</main>
<script type="text/javascript"><!--
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');
//--></script> 
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
{#<script type="text/javascript"><!--#}
{#$('.date').datetimepicker({#}
{#	language: '{{ datepicker }}',#}
{#	pickTime: false#}
{#});#}

{#$('.time').datetimepicker({#}
{#	language: '{{ datepicker }}',#}
{#	pickDate: false#}
{#});#}

{#$('.datetime').datetimepicker({#}
{#	language: '{{ datepicker }}',#}
{#	pickDate: true,#}
{#	pickTime: true#}
{#});#}
{#//--></script> #}
{{ footer }} 