{{ header }}
<main>
<div class="cart">
  {% if attention %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  <h1 class="cart-heading">
    {{ heading_title }}
  </h1>
  <div class="cart-body">
    {% for product in products %}
      <div class="cart-item">
        <div class="cart-item__shadowbox"></div>
        <img src="{{ product.thumb }}" alt="" class="cart-item__img">
        <div class="cart-item__body">
          <div class="row">
            <div class="col-12">
              <h2 class="cart-item__title">
                {{ product.name }}
              </h2>
              <h4 class="cart-item__count">
                {{ description }}
              </h4>
            </div>
            <div class="col-5">
              <div class="cart-item__change-count">
                <button data-toggle="tooltip" title="{{ button_update }}">
                  <i class="minus cart-item__remove"></i>
                </button>
                <input class="cart-item__add-count" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}"/>
                <button data-toggle="tooltip" onclick="cart.remove('{{ product.cart_id }}');">
                  <i class="plus cart-item__add"></i>
                </button>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
              <span class="cart-item__total-cost align-self-end">{{ product.price }}</span>
            </div>
            <div class="col-2">
              <i class="remove cart-item__delete"></i>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</main>
{{ footer }}