{{ header }}
<main id="error-not-found">
  <div class="not-found">
    <h1 class="not-found__heading">{{ heading_title }}</h1>
    <button class="not-found__button">
      <a href="{{ continue }}">{{ button_continue }}</a>
    </button>
  </div>
</main>
{{ footer }}
