{{ header }}
<main id="product-search">
  <div class="specials">
    <div id="content" class="{{ class }}">
      <h2 class="specials-heading">Бизнес-ланчи</h2>
      {% if products %}
{#      <div class="row">#}
{#        <div class="col-md-3 col-xs-6">#}
{#          <div class="form-group input-group input-group-sm specials-limit">#}
{#            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>#}
{#            <select id="input-limit" class="form-control" onchange="location = this.value;">#}
{#              {% for limits in limits %}#}
{#              {% if limits.value == limit %}#}
{#              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
{#              {% else %}#}
{#              <option value="{{ limits.href }}">{{ limits.text }}</option>#}
{#              {% endif %}#}
{#              {% endfor %}#}
{#            </select>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div class="row">
        {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="specials-product">
            <div class="specials-product-image">
              <a href="{{ product.href }}">
                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
              </a>
            </div>
            <div class="specials-product-info">
                <h4 class="specials-product-heading"><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p class="specials-product-description">{{ product.description }}</p>
                {% if product.price %}
                <p class="specials-product-price">
                  {% if not product.special %}
                  {{ product.price }}
                  {% else %}
                  <span class="price-new">{{ product.special }}</span>
                  {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
              <div class="button-group">
                {% if product.options %}
                  {% for option in product.options %}
                    {% if option.type == 'text' %}
                      <input type="text"
                             name="option[{{ option.product_option_id }}]"
                             value="{{ option.value }}"
                             placeholder="{{ option.name }}"
                             id="input-option{{ option.product_option_id }}"
                             style="visibility: hidden" />
                    {% endif %}
                  {% endfor %}
                {% endif %}
                <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                <button type="button" class="specials-product-order" id="button-cart" onclick="addToCart(this)" data-loading-text="{{ text_loading }}">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="results">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      </div>
  </div>
</main>
{{ footer }}